parameters:
  phpVersion: 80000
  paths:
    - .
  excludePaths:
    - vendor
    - node_modules
    - build
    - assets
  level: 5
  bootstrapFiles:
    - vendor/szepeviktor/phpstan-wordpress/bootstrap.php
